@import "common";

.account {
  position: relative;
  width: inherit;
  height: inherit;
}

.account-card-header {
  .common-card-header;
}

.bar {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.list {
  position: relative;
  margin-left: 30px;
  cursor: pointer;
}
