@import "common";
@import "variables";

.disclaimer {
  width: 1000px;
  min-width: 800px;
  height: 100%;
  margin: auto;
  overflow-y: auto;
  color: #767678;

  scrollbar-width: none; // firefox下滚动条不显示
  -ms-overflow-style:none; // IE下滚动条不显示
  //设置侧边栏滚动条不显示 chrome
  &::-webkit-scrollbar {
    display: none;
  }
}

p {
  font-size: 13px;
  line-height: 20px;
  color: #767678;
  margin-bottom: 20px;
}

p[title]{
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 5px;
}

strong {
  color: black;
}

.disclaimer2 {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow-y: auto;
  color: #767678;

  p {
    text-indent: 25px;
    font-size: 10px;
  }
}