.common-card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 40px;
  width: inherit - 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px dashed #808695;
}
.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.image-wrapper {
  width: 40px;
  height: 40px;
}
.image {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  transition: font-size 0.25s linear, width 0.25s linear;
}
.image:hover {
  width: 40px;
  height: 40px;
}
.active {
  color: #C00000;
  fill: currentColor;
}
.icon-item {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
.date-picker {
  width: 120px;
  margin-right: 20px;
}
.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s infinite both;
  animation: jello-horizontal 0.9s infinite both;
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  3% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  4% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  5% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  6% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  7% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  10% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.head {
  position: fixed;
  display: flex;
  top: 0;
  z-index: 1;
  min-width: 1000px;
  max-width: 100vw;
  width: 100vw;
  height: 80px;
  justify-content: center;
  font-family: 'SourceHanSansCN', '思源宋体', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, '宋体', serif;
}
.head-child {
  position: relative;
  width: calc(100vw * 0.8);
  max-width: 1000px;
  min-width: 1000px;
  height: 80px;
  padding: 0 170px 0 60px;
  background: url(../images/head-bg-logo2.png) no-repeat center center;
  background-size: 100% 100%;
}
.logo {
  position: absolute;
  width: 100px;
  top: 30px;
}
img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border: 0;
  margin: 0;
}
.menu-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  top: 30px;
  width: 100%;
  padding-left: 130px;
}
.menu {
  display: flex;
  position: relative;
  height: 20px;
}
.menu-user {
  display: flex;
  transform: translateY(-12px);
  cursor: pointer;
}
.segment {
  position: fixed;
  width: 90vw;
  min-width: 900px;
  height: calc(100vh - 80px - 15px - 40px);
  top: 80px;
  background: rgba(255, 255, 255, 0.1);
  padding: 0;
  border: none;
}
.segment .router-view {
  height: inherit;
  color: black;
}
footer {
  position: fixed;
  align-content: center;
  bottom: 15px;
  font-family: Arial, 'Times New Roman', serif;
}
/*# sourceMappingURL=layout.css.map */