@import "common";

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

img {
  width: 150px;
}

.login-wrapper {
  width: 100vw;
  height: 100vh;
  background: url(../images/login.jpeg) no-repeat;
  background-size: cover;
}

.login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 540px;
  height: 360px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translate(-50%, -60%);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}

.reset {
  position: absolute;
  width: 360px;
  height: 255px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.welcome {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  color: ghostwhite;
  margin-top: 40px;
}

.label {
  color: ghostwhite;
}

.form {
  width: 360px;
}

.input {
  width: 360px;
  transition: font-size 0.25s linear, width 0.25s linear;
  border: 1px rgba(255, 255, 255, 0) solid;
  &:hover{
    border: rgba(30,144,255,0.8) 1px solid;
    border-radius: 5px;
  }
}

.remember-me{
  display: inline-flex;
  height: 15px;
  color: white;
  align-items: center;

  p{
    cursor: pointer;
    margin-left: 5px;
  }
}

.submit {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  transition: font-size 0.25s linear, width 0.25s linear;
  justify-content: center;

  &:hover {
    width: 360px;
  }
}

.success {
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

.success-button {
  width: 100%;
  margin-top: 30px;
}

.forget {
  position: absolute;
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  bottom: 20px;
  color: white;
  line-height: 20px;

  .item{
    cursor: pointer;
    &:hover{
      text-decoration: underline white;
      transition: all .2s;
    }
    &:after{
      content: "?";
    }
  }

  .info {
    display: inline-flex;

    .info-item {
      cursor: pointer;
      margin-left: 20px;
    }

    .info-icon {
      cursor: pointer;
      width: 20px;
      height: 20px;
      color: white;
    }

    .wechat{}

    .wechat:hover:after{
      position: absolute;
      content: "";
      width: 200px;
      height: 200px;
      background: url("../images/qcode.jpg");
      background-size: cover;
      transform: translate(-50%, -100%);
    }

    .legal:hover:after{
      position: absolute;
      content: "免责声明";

    }
  }
}