@import "home";

.news{
  position: relative;
  height: 50%;
  border: @border-color 1px solid;
  border-left: none;
}

.card-header {
  padding-left: @header-padding;
  padding-right: @header-padding;
  display: flex;
  justify-content: space-between;
}

.header-title {
  line-height: inherit;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-icon {
  color: darkgrey;
  cursor: pointer;
  &:hover{
    height: inherit;
    color: red;
    -webkit-animation: spin 1s linear 1s 5 alternate;
    animation: spin 1s linear infinite;
  }
}

.logo {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.content {
  display: block;
  position: relative;
  //height: calc(100% - 100px);
  overflow: auto;
}

.news-item {
  bottom: 0;
  width: 100% - 5px;
  margin: 10px 15px 0;
}

.link {
  font-style: normal;
  color: #0f0f10;
}

.source {
  font-style: normal;
  color: #C00000;
}

.source-info{
  display: inline-flex;
  color: grey;
  font-size: xx-small;
  cursor: pointer;
}

p[class='media'] {
  margin-right: 10px;
}

.image {
  width: 50px;
  height: 50px;
}