@import "home";

.notice {
  height: 50%;
  border: @border-color 1px solid;
  border-left: none;
}

.content {
  position: relative;
  display: inline-flex;
}

.card-header {
  padding-left: @header-padding;
}

.logo {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

.image {
  width: 60px;
  height: 60px;
}