.common-card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 40px;
  width: inherit - 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px dashed #808695;
}
.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.image-wrapper {
  width: 40px;
  height: 40px;
}
.image {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  transition: font-size 0.25s linear, width 0.25s linear;
}
.image:hover {
  width: 40px;
  height: 40px;
}
.active {
  color: #C00000;
  fill: currentColor;
}
.icon-item {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
.date-picker {
  width: 120px;
  margin-right: 20px;
}
.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s infinite both;
  animation: jello-horizontal 0.9s infinite both;
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  3% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  4% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  5% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  6% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  7% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  10% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.performance {
  position: relative;
  width: 100%;
  height: 100%;
}
.performance-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 40px;
  width: inherit - 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px dashed #808695;
}
.date-picker {
  width: 210px;
  margin-right: 20px;
}
.picker {
  width: 100%;
}
.performance-table {
  height: 100%;
  overflow: auto;
  padding-top: 10px;
}
.performance-table table {
  width: 98%;
  margin: auto;
  border-collapse: collapse;
  border: 1px lightgrey solid;
}
.performance-table tr[class='header'] {
  border: 2px none white;
  line-height: 36px;
  background-color: #C00000;
  color: white;
}
.performance-table tr[class='row'] {
  background-color: rgba(115, 115, 115, 0.2);
  font-size: small;
  border-bottom: rgba(115, 115, 115, 0.3) 1px solid;
}
.performance-table tr[class='active'] {
  background-color: rgba(209, 132, 132, 0.8);
}
.performance-table td {
  text-align: center;
  line-height: 30px;
}
.performance-table td[class='arrow'] {
  width: 1em;
}
.performance-table td[class='arrow']:hover {
  transform: rotate(90deg);
  transition: all 0.2s linear;
}
.performance-bar {
  width: 100%;
  height: 100% -65px;
  overflow: auto;
}
.performance-bar #performance-bar-chart {
  height: calc(100vh - 80px - 15px - 40px - 160px);
  width: 90vw;
}
.performance-line {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.performance-line #performance-line-chart {
  height: calc(100vh - 80px - 15px - 40px - 160px);
  width: 90vw;
}
.performance-tools {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.choice {
  display: inline-flex;
  align-content: center;
  align-items: center;
  margin: 10px 10px auto;
}
.frequency {
  display: inline-flex;
  align-content: center;
  align-items: center;
  margin: 15px 10px auto;
}
/*# sourceMappingURL=performance.css.map */