@import "common";

.performance {
  position: relative;
  width: inherit;
  height: inherit;
}

.performance-header {
  .common-card-header;
}

.date-picker {
  width: 210px;
  margin-right: 20px;
}

.picker {
  width: 100%;
}