@import "common";
@import "variables";

.performance {
  position: relative;
  width: 100%;
  height: 100%;
}

.performance-header {
  .common-card-header;
}

.date-picker {
  width: 210px;
  margin-right: 20px;
}

.picker {
  width: 100%;
}

.performance-table {
  height: 100%;
  overflow: auto;
  padding-top: 10px;

  .left-align{
    text-align: left;
  }

  table {
    width: 98%;
    margin: auto;
    border-collapse: collapse;
    border: 1px lightgrey solid;
  }

  tr[class='header'] {
    border: 2px none white;
    line-height: 36px;
    background-color: #C00000;
    color:white;
  }

  tr[class='row']{
    background-color: rgba(115, 115, 115, 0.2);
    font-size: small;
    border-bottom: rgba(115, 115, 115, 0.3) 1px solid;
  }

  tr[class='active']{
    font-weight: bold;
    background-color: rgba(209,132,132,0.3);
  }

  td {
    text-align: center;
    line-height: 30px;
  }

  td[fee] {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
  }

  .fee-value {
    width: fit-content;
    text-align: center;
    border-bottom: black 1px solid;
    line-height: 18px
  }

  td[class='arrow'] {
    width: 1em;
  }

  th[wide]{
    width: 25%;
  }

  th[normal]{
    width: 20%;
  }

  th[narrow]{
    width: 5%;
  }
}

.performance-bar{
  width: 100%;
  height: 100% -65px;
  overflow: auto;

  #performance-bar-chart {
    height: calc(100vh - @header-height - @footer-height - @common-card-height - 170px);
    //margin-top: 30px;
    width: @segment-width;
  }
}

.performance-line{
  width: 100%;
  height: 100%;
  overflow: auto;

  #performance-line-chart {
    height: calc(100vh - @header-height - @footer-height - @common-card-height - 160px);
    width: @segment-width;
  }

  .desc {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: small;
    color: grey;
  }
}

.performance-tools {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.choice {
  display: inline-flex;
  align-content: center;
  align-items: center;
  margin: 10px 10px auto;
}

.frequency {
  display: inline-flex;
  align-content: center;
  align-items: center;
  margin: 15px 10px auto;
}

.profit-wrapper{
  display: inline-flex;
  align-items: center;
  align-content: center;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid red;
  margin-right: 5px;
  margin-bottom: 1px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid green;
  margin-right: 5px;
  margin-top: 1px;
}

p[class='red']{
  line-height: 31px;
  font-weight: bold;
  color: red;
}

p[class='green']{
  line-height: 31px;
  font-weight: bold;
  color: green;
}