@import "home";

.reports {
  position: relative;
  height: 50%;
  border: @border-color 1px solid;
  border-left: none;
  border-top: none;
}

.card-header {
  padding-left: @header-padding;
}

.logo {
  position: absolute;
  top: 40px;
  left: 10px;
}

.content {
  display: block;
  height: calc(100% - 40px);
  overflow: hidden;
}

.news-item {
  display: inline-flex;
  width: 100% - 5px;
  margin: 5px 10px 0;
}

.source {
  font-style: normal;
  color: #C00000;
}

.source-info{
  display: inline-flex;
  color: grey;
  font-size: smaller;
  cursor: pointer;
}

p[class='media'] {
  margin-right: 10px;
}

.image {
  width: 50px;
  height: 50px;
}

// 研报需要加入图片
.news-wrapper {
  display: inline-flex;
  width: 100%;
  height: 60px;
  justify-content: start;
}

.report-cover {
  width: 100px;
  height: 60px;
  img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
}

.link {
  display: flex;
  color: black;
  margin-left: 10px;
  justify-content: start;
  flex-wrap: wrap;
  align-content: space-between;
}

.title{
  width: 100%;
  &:hover{
    text-decoration: underline;
    color: red;
  }
}